@import '@angular/material/prebuilt-themes/azure-blue.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
  background: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}
