@import '@angular/material/prebuilt-themes/azure-blue.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
  background: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

.alert-snackbar {
  --mdc-snackbar-container-color: #b3261e;
  --mdc-snackbar-supporting-text-color: #fff;
  --mat-snack-bar-button-color: #fff;
}

.mat-mdc-form-field {
  --mat-form-field-container-height: 42px;
  --mat-form-field-container-vertical-padding: 10px;
}
